<h1>Lista de Patrocinantes</h1>

<table class="lista">
  <tr>
    <th>Nombre</th>
    <th>Plan</th>
    <th>Aporte</th>
    <th width=60%>Comentario</th>
    <th colspan=3>Opciones</th>
  </tr>

  <% @patrocinantes.each do |patrocinante| %>
  <tr>
    <td><%= patrocinante.nombre %></td>
    <td align=center><%= link_to patrocinante.plan.nombre, patrocinante.plan %></td>
    <td align=center><%= patrocinante.aporte %></td>
    <td align=justify><%= patrocinante.comentario %></td>
    <td><%= link_to image_tag("/show.png", :alt => "Mostrar"), patrocinante %></td>
    <td><%= link_to image_tag("/edit.png", :alt => "Modificar"), edit_patrocinante_path(patrocinante) %></td>
    <td><%= link_to image_tag("/delete.png", :alt => "Eliminar"), patrocinante, :confirm => "¿Seguro que desea eliminar el patrocinante " + patrocinante.nombre + " ?", :method => :delete %></td>
  </tr>
  <% end %>
</table>

<br />

<%= link_to "Agregar Patrocinante", new_patrocinante_path %>