<p id="notice"><%= notice %></p>

<p>
  <b>Rif:</b>
  <%= @patrocinante.rif %>
</p>

<p>
  <b>Nombre:</b>
  <%= @patrocinante.nombre %>
</p>

<p>
  <b>Plan:</b>
  <%= @patrocinante.plan %>
</p>

<p>
  <b>Aporte:</b>
  <%= @patrocinante.aporte %>
</p>

<p>
  <b>Comentario:</b>
  <%= @patrocinante.comentario %>
</p>


<%= link_to 'Edit', edit_patrocinante_path(@patrocinante) %> |
<%= link_to 'Back', patrocinantes_path %>
