<%= form_for(@plan) do |f| %>
  <% if @plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% @plan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="formularioS">
    <tr>
      <th></th>
    </tr>
    <tr>
      <td>
        <div class="field">
          <%= f.label      :nombre %>
          <%= f.text_field :nombre %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="field">
          <%= f.label        :precio %>
          <%= f.number_field :precio %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="field">
          <%= f.label     :beneficios %><br />
          <%= f.text_area :beneficios %>
        </div>
      </td>
    </tr>
  </table>
  
  <br />
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>