<h1><%= @plan.nombre %></h1>
<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @plan.nombre %>
</p>
<p>
  <b>Precio:</b>
  <%= @plan.precio %>
</p>
<p>
  <b>Beneficios:</b>
  <%= @plan.beneficios %>
</p>

<%= link_to "Modificar", edit_plan_path(@plan) %> |
<%= link_to "Volver a la lista", planes_path %>