<h1>Iniciar Sesion</h1>
<p id="notice"><%= notice %></p>

<%= form_for(:session, :url => sessions_path) do |f| %>
<table class="formularioS">
    <tr>
      <th></th>
    </tr>
    <tr>
      <td>
        <div class="field">
          <%= f.label      :usuario %><br />
          <%= f.text_field :usuario, :size => 15 %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="field">
          <%= f.label          :clave %><br />
          <%= f.password_field :clave, :size => 15 %>
        </div>
      </td>
    </tr>
  </table>
  
  <br />
  
  <div class="actions" align="center">
    <%= f.submit "Acceder" %>
  </div>
</table>
<% end %>