<h1>Iniciar Sesion</h1>
<table>
	<%= form_for(:session, :url => sessions_path) do |f| %>
	<tr>
		<td>
			<div class="field" align="center">
				<%= f.label :usuario %>
		</td>
	</tr>
	<tr>
		<td>
				<%= f.text_field :usuario %>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="field" align="center">
				<%= f.label :clave %>
		</td>
	</tr>
	<tr>
		<td>
				<%= f.password_field :clave %>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="actions" align="center">
				<%= f.submit "Acceder" %>
			</div>
		</td>
	</tr>
<p id="notice"><%= notice %></p>
<% end %>
</table>