<h1><%= @participante.nombreCompleto %></h1>

<table class="listaS">
  <tr>
    <th>Mesa de Trabajo</th>
    <th>Seleccionado</th>
  </tr>

  <% @participantes_mesas.each do |pm| %>
  <tr>
    <td><%= pm.mesa_de_trabajo.titulo %></td>
    <td>
      <% if pm.seleccionado %>
        <%= image_tag("/check.png", :alt => "SI") %>
      <% else %>
        <%= image_tag("/cross.png", :alt => "NO") %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>

<br />

<%= link_to "Volver", participantes_mesas_path %>
