<h1><%= @participante.nombreCompleto %></h1>
<p id="notice"><%= notice %></p>

<div align="center">
  <%= form_tag crear_participantes_mesas_path do %>
    <div class="field">
      <%= hidden_field_tag :cedula, @participante.cedula %>
    </div>
    
    <table class="formulario">
      <tr>
        <th width=50%></th>
        <th width=50%></th>
      </tr>
      <% @mesas_de_trabajo.each do |mesa| %>
      <tr>
        <td>
          <%= label_tag mesa.titulo %>
        </td>
        <td>
          <div class="field" align=left>
            <%= select_tag mesa.id, options_for_select( (1..@prioridad_maxima).map {|i| [ "#{i}", i ] } ) %>
          </div>
        </td>
      </tr>
      <% end %>
    </table>
    
    <br />
    
    <div class="actions">
      <%= submit_tag "Enviar" %>
    </div>
    
  <% end %>
  
  <br />
  
  <%= link_to "Cancelar", participantes_mesas_path %>
</div>
