<h1><%= @participante.nombreCompleto %></h1>
<p id="notice"><%= notice %></p>

<div align="center">
  <%= form_for(@participante_mesa) do |f| %>
    <div class="field">
      <%= f.hidden_field :participante_id, :value => @participante.id.to_s %>
    </div>
    
    <%= f.select :mesa_de_trabajo_id, @mesas_de_trabajo.map {|m| [ m.titulo, m.id ] }, :prompt => 'Selecciona la Mesa de Trabajo' %>
    
    <br />
    
    <div class="actions">
      <%= f.submit "Enviar" %>
    </div>
    
  <% end %>
  
  <br />
  
  <%= link_to "Cancelar", new_participante_mesa_path %>
</div>
