<h1>Inscripción en Mesa de Trabajo</h1>
<p id='notice'><%= notice %></p>

<p>
  <b>Participante:</b>
  <%= @participante_mesa.participante.nombreCompleto %>
</p>
<p>
  <b>Mesa de Trabajo:</b>
  <%= @participante_mesa.mesa_de_trabajo.titulo %>
</p>
<p>
  <b>Seleccionado:</b>
  <%= @participante_mesa.seleccionado %>
</p>

<% confirmacion = '¿Seguro que deseas cancelar la inscripción?' %>
<%= link_to 'Cancelar Inscripción', @participante_mesa, :confirm => confirmacion, :method => :delete %> |
<% entrada = @participante_mesa.participante.cedula %>
<%= link_to 'Inscribir otra Mesa', :controller => 'participantes_mesas', :action => 'new', :entrada => entrada %> |
<%= link_to 'Inscribir Próximo Participante', new_participante_mesa_path %>
