<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Bienvenido a las JOINCIC, <%= @nombre %></h1>
    <p>
      Para confirmar tus datos de registro ingresa al siguiente link: <a href="http://sistema.joincic.com.ve/participantes/<%= @id %>/edit?hash=<%= @hash %>" > http://sistema.joincic.com.ve/participantes/<%= @id %>/edit?hash=<%= @hash %> </a>
    </p>
  </body>
</html>
