<h1><%= @mesa_de_trabajo.titulo %></h1>
<p id="notice"><%= notice %></p>

<table class="dosColumnas">
  <tr>
    <th>
    </th>
  </tr>
  <tr>
    <td>
      <p>
        <b>Tema:</b> <%= @mesa_de_trabajo.tema %>
      </p>
      <p>
        <b>Descripcion:</b> <%= @mesa_de_trabajo.descripcion %>
      </p>
      <p>
        <b>Dia y Hora:</b>
        <%= I18n.l @mesa_de_trabajo.dia,      :format => :dia %>
        <%= I18n.l @mesa_de_trabajo.hora_ini, :format => :hora %> - <%= I18n.l @mesa_de_trabajo.hora_fin, :format => :hora %>
      </p>
      <p>
        <b>Lugar:</b> <%= @mesa_de_trabajo.lugar %>
      </p>
      <p>
        <b>Capacidad:</b> <%= @mesa_de_trabajo.capacidad %>
      </p>
      <p>
        <b>Requerimientos:</b> <%= @mesa_de_trabajo.requerimientos %>
      </p>
      <p>
        <b>Ponente:</b> <%= @mesa_de_trabajo.ponente.nombreCompleto %>
      </p>
      <p>
        <b>Patrocinante:</b> <%= @mesa_de_trabajo.patrocinante.nombre unless @mesa_de_trabajo.patrocinante.nil?%>
      </p>
    </td>
    <td>
      <p align=center>
        <b>Participantes Inscritos:</b> <%= @participantes.count %>
      </p>
      <table class="listaS">
        <tr>
          <th>Cédula</th>
          <th>Nombre</th>
          <th>Prioridad</th>
          <th>Puesto</th>
          <th>Asistencia</th>
        </tr>
        
        <% @participantes.each do |p| %>
        <tr>
          <td><%= p.participante.cedula %></td>
          <td><%= p.participante.nombreCompleto %></td>
          <td><%= p.prioridad %></td>
          <td><%= p.puesto %></td>
          <td>
            <% if p.seleccionado %>
              <%= image_tag("/check.png", :alt => "SI") %>
            <% else %>
              <%= image_tag("/cross.png", :alt => "NO") %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </table>
        <% if @mesa_de_trabajo.sorteada %>
        <div align=center>
          <%= form_tag reiniciar_mesa_de_trabajo_path do %>
            <%= hidden_field_tag :id, @mesa_de_trabajo.id %>
            <%= submit_tag  "Reiniciar" %>
          <% end %>
        </div>
        <% else %>
        <div align=center>
          <%= form_tag sortear_mesa_de_trabajo_path do %>
            <%= hidden_field_tag :id, @mesa_de_trabajo.id %>
            <%= submit_tag  "Sortear" %>
          <% end %>
        </div>
        <% end %>
        
        <div align=center>
          <%= form_tag excel_mesa_de_trabajo_path do %>
            <%= hidden_field_tag :id, @mesa_de_trabajo.id %>
            <br />
            <%= submit_tag "Excel"%>
          <% end %>
        </div>
    </td>
  </tr>
</table>

<%= link_to "Modificar", edit_mesa_de_trabajo_path(@mesa_de_trabajo) %> |
<%= link_to "Volver a la lista", mesas_de_trabajo_path %>