<%= form_for(@material_pop) do |f| %>
  <% if @material_pop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@material_pop.errors.count, "error") %> prohibited this material_pop from being saved:</h2>

      <ul>
      <% @material_pop.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="formularioS">
    <tr>
      <th></th>
    </tr>
    <tr>
      <td>
        <div class="field">
          <%= f.label :nombre %><br />
          <%= f.text_field :nombre, :size => 15, :maxlength => 20 %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="field">
          <%= f.label :cantidad %><br />
          <%= f.number_field :cantidad, :in => 1..1000 %>
        </div>
      </td>
    </tr>
  </table>
  
  <br />
  
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>