<h1><%= @problema.titulo %></h1>
<p id="notice"><%= notice %></p>
<p>
  <b>Enunciado:</b>
  <%= @problema.enunciado %>
</p>
<p>
  <b>Fin de Entrega:</b>
  <% date = @problema.fin_de_entrega.in_time_zone('Caracas') %>
  <%= I18n.localize(date, :format =>"%A, %d de %B %H:%M:%S") %>
</p>
<p>
  <b>Última Actualización:</b>
  <% date = @problema.updated_at.in_time_zone("Caracas") %>
  <%= I18n.localize(date, :format =>"%A, %d de %B %H:%M:%S") %>
</p>

<br/>

<% if session[:privilegios] == 'organizador' %>
  <%= link_to 'Modificar', edit_problema_path(@problema) %> |
<% end %>
<%= link_to 'Volver a la Lista', problemas_path %>
