<h1>Listing rifas</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rifas.each do |rifa| %>
  <tr>
    <td><%= rifa.nombre %></td>
    <td><%= link_to 'Show', rifa %></td>
    <td><%= link_to 'Edit', edit_rifa_path(rifa) %></td>
    <td><%= link_to 'Destroy', rifa, method: :delete, confirm: 'Are you sure?' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rifa', new_rifa_path %>
