<h1>Listing participantes_mates</h1>

<table class="listaS">
  <tr>
    <th>Participante</th>
    <th>Material</th>
    <th>Entregado</th>
    <th colspan=3>Opciones</th>
  </tr>

  <% @participantes_mates.each do |pm| %>
  <tr>
    <td><%= pm.participante.nombreCompleto %></td>
    <td><%= pm.material_pop.nombre %></td>
    <td>
      <% if pm.entregado %>
        <%= "SI" %>
      <% else %>
        <%= "NO" %>
      <% end %>
    </td>
    <td><%= link_to image_tag("/show.png", :alt => "Mostrar"), pm %></td>
    <td><%= link_to image_tag("/edit.png", :alt => "Modificar"), edit_participante_mate_path(pm) %></td>
    <td><%= link_to image_tag("/delete.png", :alt => "Eliminar"), pm, confirm: "Are you sure?", method: :delete %></td>
  </tr>
  <% end %>
</table>

<br />

<%= link_to "New Participante mate", new_participante_mate_path %>