<h1>Entrega de Material</h1>
<p id="notice"><%= notice %></p>

<div align="center">
  <%= form_tag "create" do %>
    <table class="formularioS">
      <tr>
        <th></th>
      </tr>
      <tr>
        <td>
          <div class="field">
            <%= label_tag      :cedula %><br />
            <%= text_field_tag :cedula %>
          </div>
        </td>
      </tr>
      
      <% @materiales_pop.each do |material_pop| %>
      <tr>
        <td>
          <div class="field" align=left>
            <%= check_box_tag material_pop.nombre %>
            <%= label_tag     material_pop.nombre %>
          </div>
        </td>
      </tr>
      <% end %>
    </table>
    
    <br />
    
    <div class="actions">
      <%= submit_tag "Enviar" %>
    </div>
    
  <% end %>
  
  <br />
  
  <%= link_to "Cancelar", participantes_mates_path %>
</div>