<h1><%= @participante.nombreCompleto %></h1>
<p id="notice"><%= notice %></p>

<div align="center">
  <%= form_tag crear_participantes_mates_path do %>
    <div class="field">
      <%= hidden_field_tag :cedula, @participante.cedula %>
    </div>
    
    <table class="formularioS">
      <% @materiales_pop.each do |material_pop| %>
      <tr>
        <th></th>
      </tr>
      <tr>
        <td>
          <div class="field" align=left>
            <%= check_box_tag material_pop.nombre, 1, true %>
            <%= label_tag     material_pop.nombre %>
          </div>
        </td>
      </tr>
      <% end %>
    </table>
    
    <br />
    
    <div class="actions">
      <%= submit_tag "Enviar" %>
    </div>
    
  <% end %>
  
  <br />
  
  <%= link_to "Cancelar", participantes_mates_path %>
</div>