<p id="notice"><%= notice %></p>

<p>
  <b>Participante:</b>
  <%= @participante_mate.participante.nombre %>
</p>
<p>
  <b>Material:</b>
  <%= @participante_mate.material_pop.nombre %>
</p>
<p>
  <b>Entregado:</b>
  <%= @participante_mate.entregado %>
</p>

<%= link_to "Edit", edit_participante_mate_path(@participante_mate) %> |
<%= link_to "Back", participantes_mates_path %>