<p id="notice"><%= notice %></p>

<p>
  <b>Id par:</b>
  <%= @sorteo.id_par %>
</p>

<p>
  <b>Id premio:</b>
  <%= @sorteo.id_premio %>
</p>

<p>
  <b>Entregado:</b>
  <%= @sorteo.entregado %>
</p>


<%= link_to 'Edit', edit_sorteo_path(@sorteo) %> |
<%= link_to 'Back', sorteos_path %>
