<h1>Académico</h1>
<ul>
  <li><%= link_to "Mesas de Trabajo", mesas_de_trabajo_path %></li>
  <li><%= link_to "Ponentes", ponentes_path %></li>
  <li><%= link_to "Ponencias", ponencias_path %></li>
  <li><%= link_to "Preguntas", preguntas_path %></li>
  <li><%= link_to "Preguntas", participantes_mesas_path %></li>
</ul>