<h1>Página principal</h1>
<p>Hola, <%= session[:organizador] %></p>
<p>Aquí van los accesos directos a las funcionalidades principales del sistema</p>
<table class="menu">
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td><%= link_to "Registrar participante", new_participante_path %></td>
    <td><%= link_to "Entrega de material POP", participantes_mates_path %></td>
    <td><%= link_to "Inscripciones para mesas de trabajo", new_participante_mesa_path %></td>
  </tr>
  <tr>
    <td><%= link_to "Registrar organizador", new_organizador_path %></td>
    <td><%= link_to "Comidas", entregarComida_participantes_path %></td>
    <td>Rifas</td>
  </tr>
  <tr>
    <td colspan=3>Generar reportes</td>
  </tr>
</table>
