<h1>Página principal</h1>
<h2>¡Hemos vendido <b><%= Participante.count %></b> entradas!</h2>
<table class="menu">
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td><%= link_to "Registrar participante", new_participante_path %></td>
    <td><%= link_to "Entrega de material POP", participantes_mates_path %></td>
    <td><%= link_to "Inscripciones para mesas de trabajo", participantes_mesas_path %></td>
  </tr>
  <tr>
    <td><%= link_to "Registrar organizador", new_organizador_path %></td>
    <td><%= link_to "Comidas", entregarComida_participantes_path %></td>
    <td><%= link_to "Preguntas a ponentes", panel_preguntas_path %></td>
  </tr>
  <tr>
    <td>Rifas</td>
    <td colspan=2><%= link_to "Generar reportes", "/home/reportes" %></td>
  </tr>
</table>
