<%= form_for(@ponente) do |f| %>
  <% if @ponente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ponente.errors.count, "error") %> prohibited this ponente from being saved:</h2>

      <ul>
      <% @ponente.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label      :nombre %>
    <%= f.text_field :nombre,     :size => 10, :maxlength => 15 %>
    <%= f.text_field :seg_nombre, :size => 10, :maxlength => 15 %>
  </div>
  <div class="field">
    <%= f.label      :apellido %>
    <%= f.text_field :apellido,     :size => 10, :maxlength => 15 %>
    <%= f.text_field :seg_apellido, :size => 10, :maxlength => 15 %>
  </div>
  <div class="field">
    <%= f.label      :telefono %>
    <%= f.text_field :telefono, :size => 20, :maxlength => 11 %>
  </div>
  <div class="field">
    <%= f.label      :telefono2 %>
    <%= f.text_field :telefono2, :size => 20, :maxlength => 11 %>
  </div>
  <div class="field">
    <%= f.label      :correo %>
    <%= f.text_field :correo, :size => 20, :maxlength => 50 %>
  </div>
  <div class="field">
    <%= f.label      :institucion %>
    <%= f.text_field :institucion, :size => 20, :maxlength => 15 %>
  </div>
  
  <br/>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
