<h1><%= @ponente.nombreCompleto %></h1>
<p id="notice"><%= notice %></p>

<p>
  <b>Nombre(s):</b>
  <%= @ponente.nombres %>
</p>
<p>
  <b>Apellido(s):</b>
  <%= @ponente.apellidos %>
</p>
<p>
  <b>Telefonos:</b>
  <%= @ponente.telefono %>, <%= @ponente.telefono2 unless @ponente.telefono2.nil? %>
</p>
<p>
  <b>Correo:</b>
  <%= @ponente.correo %>
</p>
<p>
  <b>Institucion:</b>
  <%= @ponente.institucion %>
</p>

<%= link_to "Modificar", edit_ponente_path(@ponente) %> |
<%= link_to "Volver a la lista", ponentes_path %>