<p id="notice"><%= notice %></p>

<p>
  <b>Cedula:</b>
  <%= @ponente.cedula %>
</p>

<p>
  <b>Nombre:</b>
  <%= @ponente.nombre %>
</p>

<p>
  <b>Seg nombre:</b>
  <%= @ponente.seg_nombre %>
</p>

<p>
  <b>Apellido:</b>
  <%= @ponente.apellido %>
</p>

<p>
  <b>Seg apellido:</b>
  <%= @ponente.seg_apellido %>
</p>

<p>
  <b>Telefono:</b>
  <%= @ponente.telefono %>
</p>

<p>
  <b>Telefono2:</b>
  <%= @ponente.telefono2 %>
</p>

<p>
  <b>Correo:</b>
  <%= @ponente.correo %>
</p>

<p>
  <b>Institucion:</b>
  <%= @ponente.institucion %>
</p>


<%= link_to 'Edit', edit_ponente_path(@ponente) %> |
<%= link_to 'Back', ponentes_path %>
