<%= form_for(@organizador) do |f| %>
  <% if @organizador.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@organizador.errors.count, "error prohibió", "errores prohibieron") %> guardar el organizador:</h2>
      
      <ul>
      <% @organizador.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.label      :nombre %> <br/>
  <%= f.text_field :nombre,     :size => 10, :maxlength => 15 %>
  <%= f.text_field :seg_nombre, :size => 10, :maxlength => 15 %>
  <br/>
  <%= f.label      :apellido %> <br/>
  <%= f.text_field :apellido,     :size => 10, :maxlength => 15 %>
  <%= f.text_field :seg_apellido, :size => 10, :maxlength => 15 %>
  <br/>
  <%= f.label      :correo %> <br/>
  <%= f.text_field :correo, :size => 20, :maxlength => 50 %>
  <br/>
  <% if @organizador.new_record? %> 
    <%= f.label      :usuario %> <br/>
    <%= f.text_field :usuario, :size => 20, :maxlength => 15 %>
  <% end %>
  <br/>
  <%= f.label          :clave %> <br/>
  <%= f.password_field :clave, :size => 20, :maxlength => 8 %>
  <br/>
  <%= f.label  :institucion %> <br/>
  <%= f.select :institucion, ["UCAB", "UCV", "UNIMET", "USB", "UNEFA","USM", "UAH", "UC", "IUJO"] %>
  <br/>
  <%= f.label  :coordinacion %> <br/>
  <%= f.select :coordinacion, ["Académico", "Finanzas", "Logística", "Patrocinio", "Publicidad", "Tecnología", "General"] %>
  <br/>
  <%= f.label     :coordinador %>
  <%= f.check_box :coordinador %>
  
  <br/>
  <br/>

  <%= f.submit %>
  
<% end %>
