<h1>Lista de organizadores (<%= @organizadores.size %>)</h1>

<table class="lista">
  <tr>
    <th>Nombre</th>
    <th>Teléfono</th>
    <th>Correo</th>
    <th>Dirección</th>
    <th>Institución</th>
    <th>Coordinación</th>
    <th colspan="3">Opciones</th>
  </tr>

  <% @organizadores.each do |org| %>
    <tr>
      <td><%= org.nombreCompleto %></td>
      <td><%= org.telefono %></td>
      <td><%= org.correo %></td>
      <td><%= org.direccion %></td>
      <td align=center><%= org.institucion %></td>
      <td align=center><%= org.coordinacion %></td>
      <td><%= link_to image_tag("/show.png", :alt => "Mostrar"), org %></td>
      <td><%= link_to image_tag("/edit.png", :alt => "Modificar"), edit_organizador_path(org) %></td>
      <td><%= link_to image_tag("/delete.png", :alt => "Eliminar"), org, :confirm => "¿Seguro que desea eliminar a " + org.nombreCompleto + "?", :method => :delete %></td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to "Agregar Organizador", new_organizador_path %>