<h1><%= @organizador.nombreCompleto %></h1>
<p id="notice"><%= notice %></p>

<p>
  <b>Nombre(s):</b>
  <%= @organizador.nombres %>
</p>
<p>
  <b>Apellido(s):</b>
  <%= @organizador.apellidos %>
</p>
<p>
  <b>Cédula:</b>
  <%= @organizador.cedula %>
</p>
<p>
  <b>Fecha de Nacimiento:</b>
  <%= @organizador.fecha_nac %>
</p>
<p>
  <b>Teléfono:</b>
  <%= @organizador.telefono %>
</p>
<p>
  <b>Correo:</b>
  <%= @organizador.correo %>
</p>
<p>
  <b>Dirección:</b>
  <%= @organizador.direccion %>
</p>
<p>
  <b>Institución:</b>
  <%= @organizador.institucion %>
</p>
<p>
  <b>Nivel:</b>
  <%= @organizador.nivel %>
</p>
<p>
  <b>Coordinación:</b>
  <%= @organizador.coordinacion %> <%= "(coordinador)" if @organizador.coordinador%>
</p>

<%= link_to "Modificar", edit_organizador_path(@organizador) %> |
<%= link_to "Volver a la lista", organizadores_path %>