<h1><%= @organizador.nombreCompleto %></h1>
<h2 id="notice"><%= notice %></h2>

<p>
  <b>Nombre(s):</b>
  <%= @organizador.nombres %>
</p>
<p>
  <b>Apellido(s):</b>
  <%= @organizador.apellidos %>
</p>
<p>
  <b>Correo:</b>
  <%= @organizador.correo %>
</p>
<p>
  <b>Institución:</b>
  <%= @organizador.institucion %>
</p>
<p>
  <b>Coordinación:</b>
  <%= @organizador.coordinacion %> <%= "(coordinador)" if @organizador.coordinador%>
</p>

<%= link_to "Modificar", edit_organizador_path(@organizador) %> |
<%= link_to "Volver a la lista", organizadores_path %>
