<%= form_for(@pregunta) do |f| %>
  <% if @pregunta.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pregunta.errors.count, "error") %> prohibited this pregunta from being saved:</h2>

      <ul>
      <% @pregunta.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mensaje %><br />
    <%= f.text_field :mensaje %>
  </div>
  <div class="field">
    <%= f.label :id_par %><br />
    <%= f.number_field :id_par %>
  </div>
  <div class="field">
    <%= f.label :id_pon %><br />
    <%= f.number_field :id_pon %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
