<p id="notice"><%= notice %></p>

<p>
  <b>Pregunta:</b>
  <%= @pregunta.mensaje %>
</p>
<p>
  <b>Participante:</b>
  <%= @pregunta.participante.nombreCompleto %>
</p>
<p>
  <b>Ponencia:</b>
  <%= @pregunta.ponencia.titulo %>
</p>

<%= link_to "Volver a la lista", preguntas_path %>