<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @premio.nombre %>
</p>

<p>
  <b>Cantidad:</b>
  <%= @premio.cantidad %>
</p>

<p>
  <b>Id pat:</b>
  <%= @premio.id_pat %>
</p>

<p>
  <b>Id rifa:</b>
  <%= @premio.id_rifa %>
</p>


<%= link_to 'Edit', edit_premio_path(@premio) %> |
<%= link_to 'Back', premios_path %>
