<h2 id="notice" align="center">
  Recuerde que para su certificado se usaran los datos a continuaci칩n.<br/>Por favor, lea con cuidado y verifique su informaci칩n.
</h2>

<%= form_for(@participante) do |f| %>
  <% if @participante.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@participante.errors.count, 'error prohibi칩', 'errores prohibieron') %> guardar sus datos.</h2>
      <ul>
      <% @participante.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="formulario">
    <tr>
      <th width=55%></th>
      <th width=45%></th>
    </tr>
    <tr>
      <td>
        <div class="field">
          <%= f.label      :cedula %>
          <%= f.text_field :cedula, size: 20, maxlength: 8 %>
        </div>
        <div class="field">
          <%= f.label      :nombre %>
          <%= f.text_field :nombre,     size: 10, maxlength: 15 %>
          <%= f.text_field :seg_nombre, size: 10, maxlength: 15 %>
        </div>
        <div class="field">
          <%= f.label      :apellido %>
          <%= f.text_field :apellido,     size: 10, maxlength: 15 %>
          <%= f.text_field :seg_apellido, size: 10, maxlength: 15 %>
        </div>
        <div class="field">
          <%= f.label       :fecha_nac %>
          <%= f.date_select :fecha_nac, start_year: Time.now.year-100, order: [:day, :month, :year] %>
        </div>
        <div class="field">
          <%= f.label      :direccion %>
          <%= f.text_field :direccion, size: 20, maxlength: 50 %>
        </div>
      </td>
      <td>
        <div class="field">
          <%= f.label      :telefono %>
          <%= f.text_field :telefono, size: 20, maxlength: 11 %>
        </div>
        <div class="field">
          <%= f.label      :correo %>
          <%= f.text_field :correo, size: 20, maxlength: 50 %>
        </div>
        <div class="field">
          <%= f.label      :institucion %>
          <%= f.text_field :institucion, size: 20, maxlength: 15 %>
        </div>
        <div class="field">
          <%= f.label :nivel %>
          <%= f.number_field :nivel, in: 1..15, size: 5 %>
          <%= f.select :tipo_nivel, ['Trimestre', 'Semestre', 'A침o'] %>
        </div>
        <div class="field">
          <%= f.label  :nacionalidad %><br>
          <%= f.select :nacionalidad, ['Venezolano', 'Extranjero'] %><br>
        </div>
        <%= f.hidden_field :hash, value: @hash %>
      </td>
    </tr>
  </table>

  <br />

  <div class="actions">
    <%= f.submit value: 'Actualizar Datos' %>
  </div>
<% end %>
