<h1>Lista de participantes (<%= @participantes.size %>)</h1>
<p id="notice"><%= notice %></p>

<div align=center>
<%= link_to "Exportar a Archivo Excel", reporte_participantes_path %>
</div>

<table class="lista">
  <tr>
    <th>Nombre(s)</th>
    <th>Apellido(s)</th>
    <th>Institución</th>
    <th>Nivel</th>
    <th>Zona</th>
    <th>Fecha de Compra</th>
    <th colspan=3>Opciones</th>
  </tr>
  
  <% @participantes.each do |participante| %>
  <tr <%= "style='color:red;'".html_safe if participante.eliminado %>>
    <td><%= participante.nombres %></td>
    <td><%= participante.apellidos %></td>
    <td align=center><%= participante.institucion %></td>
    <td align=center><%= participante.nivel %> <%= participante.tipo_nivel %></td>
    <td align=center><%= participante.zona.nombre %></td>
    <td align=center><%= I18n.l participante.created_at.in_time_zone("Caracas").to_date, :format => :medio %></td>
    <td><%= link_to image_tag("/show.png", :alt => "Mostrar"), participante %></td>
    <td><%= link_to image_tag("/edit.png", :alt => "Modificar"), edit_participante_path(participante) %></td>
    <td><%= link_to image_tag("/delete.png", :alt => "Eliminar"), participante, confirm: "¿Seguro que desea eliminar a " + participante.nombreCompleto + "?", method: :delete unless participante.eliminado%></td>
  </tr>
  <% end %>
</table>

<br />

<div align=center>
  <%= form_tag buscar_participantes_path, :method => "get" do %>
    <%= text_field_tag :query, params[:query], { :placeholder => "Nombre / Apellido / Cédula", :size => 22} %>
    <br />
    <%= submit_tag "Buscar Participante"%>
  <% end %>
</div>

<br />

<%= link_to "Agregar Participante", new_participante_path %>