<table border="1">
  <tr>
    <th>Cedula</th>
    <th>Nombre(s)</th>
    <th>Apellido(s)</th>
    <th>Zona</th>
    <th>Institución</th>
    <th>Teléfono</th>
    <th>Correo</th>
  </tr>
  
  <% @participantes.each do |participante| %>
  <tr>
    <td align=center><%= participante.cedula %></td>
    <td align=center><%= participante.nombres %></td>
    <td align=center><%= participante.apellidos %></td>
    <td align=center><%= participante.zona.nombre %></td>
    <td align=center><%= participante.institucion %></td>
    <td align=center><%= participante.telefono %></td>
    <td align=center><%= participante.correo %></td>
  </tr>
  <% end %>
</table>
