<h1><%= @participante.nombreCompleto %></h1>
<p id="notice"><%= notice %></p>
<table width=80%>
  <tr>
    <td width=50%>
      <p>
        <b>Cédula:</b>
        <%= @participante.cedula %>
      </p>
      <p>
        <b>Nombre(s):</b>
        <%= @participante.nombres %>
      </p>
      <p>
        <b>Apellido(s):</b>
        <%= @participante.apellidos %>
      </p>
      <p>
        <b>Fecha de nacimiento:</b>
        <%= @participante.fecha_nac %>
      </p>
      <p>
        <b>Teléfono:</b>
        <%= @participante.telefono %>
      </p>
      <p>
        <b>Correo:</b>
        <%= @participante.correo %>
      </p>
      <p>
        <b>Dirección:</b>
        <%= @participante.direccion %>
      </p>
      <p>
        <b>Institución:</b>
        <%= @participante.institucion %>
      </p>
      <p>
        <b>Nivel:</b>
        <%= @participante.nivel %>
        <%= @participante.tipo_nivel %>
      </p>
      <p>
        <b>Zona:</b>
        <%= @participante.zona.nombre %>
      </p>
      <p>
        <b>Entrada #:</b>
        <%= @participante.entrada %>
      </p>
      <% unless @participante.deposito.nil? %>
      <p>
        <b>Depósito #:</b>
        <%= @participante.deposito %>
      </p>
      <% end %>
      <% unless session[:organizador].nil? %>
      <p>
        <b>Comió:</b>
        <%= @participante.comida %>
      </p>
      <p>
        <b>Vendedor:</b>
        <%= @participante.organizador.nombreCompleto %>
      </p>
      <% end %>
    </td>
    <td>
      <table class="listaS">
        <tr>
          <th colspan="2">Material POP</th>
        </tr>
        <% @participante.participantes_mates.each do |mat| %>
        <tr>
          <td><%= mat.material_pop.nombre %></td>
          <td>
            <% if mat.entregado %>
              <%= image_tag("/check.png", :alt => "Entregado") %>
            <% else %>
              <%= image_tag("/cross.png", :alt => "Por Entregar") %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </table>
      <table class="listaS">
        <tr>
          <th colspan="2">Mesas de Trabajo</th>
        </tr>
        <% @participante.participantes_mesas.each do |mesa| %>
        <tr>
          <td><%= mesa.mesa_de_trabajo.titulo %></td>
          <td>
            <% if mesa.mesa_de_trabajo.sorteada %>
              <% if mesa.seleccionado %>
                <%= image_tag("/check.png", :alt => "Seleccionado") %>
              <% else %>
                <%= image_tag("/cross.png", :alt => "No Seleccionado") %>
              <% end %>
            <% else %>
              <%= image_tag("/clock.png", :alt => "Por Sortear") %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </table>
    </td>
  </tr>
</table>

<% if @hash.nil? %>
  <%= link_to "Modificar", edit_participante_path(@participante) %> |
  <%= link_to "Volver a la lista", participantes_path %>
<% else %>
  <%= link_to "Modificar Datos", edit_participante_path(@participante, :hash => @hash) %>
<% end %>
