<header>
  <nav class="round">
    <ul>
      <li><%= link_to "Inicio", '/' %></li>
      <li><%= link_to "Participantes", '/participantes' %></li>
      <li><%= link_to "Organizadores", '/organizadores' %></li>
      <li><%= link_to "Materiales POP", '/materiales_pop' %></li>
      <li><%= link_to "Zonas", '/zonas' %></li>
    </ul>
  </nav>
</header>