<header>
<% unless session[:organizador].nil? %>
  <nav class="round">
    <ul>
      <li><%= link_to "Inicio", root_path %></li>
      <li><%= link_to "Participantes", participantes_path %></li>
      <li><%= link_to "Organizadores", organizadores_path %></li>
      <li><%= link_to "Materiales POP", materiales_pop_path %></li>
      <li><%= link_to "Zonas", zonas_path %></li>
      <li><%= link_to "Cerrar Sesión", cerrarSesion_path, :method => :delete %></li>
    </ul>
  </nav>
<% end %>
</header>
