<%= form_for(@ponencia) do |f| %>
  <% if @ponencia.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ponencia.errors.count, "error") %> prohibited this ponencia from being saved:</h2>

      <ul>
      <% @ponencia.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="formulario">
    <tr>
      <th width=55%></th>
      <th width=45%></th>
    </tr>
    <tr>
      <td>
        <div class="field">
          <%= f.label :titulo %>
          <%= f.text_field :titulo, :size => 20, :maxlength => 25 %>
        </div>
        <div class="field">
          <%= f.label :tema %>
          <%= f.text_field :tema, :size => 20, :maxlength => 25 %>
        </div>
        <div class="field">
          <%= f.label :descripcion %>
          <%= f.text_field :descripcion, :size => 20, :maxlength => 255 %>
        </div>
        <div class="field">
          <%= f.label :dia %>
          <%= f.date_select :dia %>
        </div>
        <div class="field">
          <%= f.label :hora_ini %>
          <%= f.time_select :hora_ini %>
        </div>
        <div class="field">
          <%= f.label :hora_fin %>
          <%= f.time_select :hora_fin %>
        </div>
        <div class="field">
          <%= f.label :ponente_id %>
          <%= f.select :ponente_id, @ponentes.collect {|p| [ p.nombre, p.id ] } %>
        </div>
        <div class="field">
          <%= f.label :patrocinante_id %>
          <%= f.select :patrocinante_id, @patrocinantes.collect {|p| [ p.nombre, p.id ] } %>
        </div>
      </td>
      <td>
        <div class="field">
          <%= f.label      :requerimientos %>
          <%= f.text_area  :requerimientos %>
        </div>
      </td>
    </tr>
  </table>
  
  <br />
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
