<h1>Lista de Ponencias</h1>

<table class="lista">
  <tr>
    <th>Título</th>
    <th>Tema</th>
    <th>Descripción</th>
    <th>Dia y Hora</th>
    <th>Ponente</th>
    <th>Patrocinante</th>
    <th colspan="3" width=48px>Opciones</th>
  </tr>

  <% @ponencias.each do |ponencia| %>
  <tr>
    <td><%= ponencia.titulo %></td>
    <td><%= ponencia.tema %></td>
    <td><%= ponencia.descripcion %></td>
    <td align=center><%= I18n.l ponencia.dia, :format => :dia %> <%= I18n.l ponencia.hora_ini, :format => :hora %></td>
    <td align=center><%= ponencia.ponente.nombreCompleto %></td>
    <td align=center><%= ponencia.patrocinante.nombre %></td>
    <td><%= link_to image_tag("/show.png", :alt => "Mostrar"), ponencia %></td>
    <td><%= link_to image_tag("/edit.png", :alt => "Modificar"), edit_zona_path(ponencia) %></td>
    <td><%= link_to image_tag("/delete.png", :alt => "Eliminar"), ponencia, confirm: "¿Seguro que desea eliminar la ponencia " + ponencia.titulo + "?", method: :delete %></td>
  </tr>
  <% end %>
</table>

<br />

<%= link_to "Agregar Ponencia", new_ponencia_path %>