<h1><%= @ponencia.titulo %></h1>
<p id="notice"><%= notice %></p>

<p>
  <b>Tema:</b>
  <%= @ponencia.tema %>
</p>
<p>
  <b>Descripcion:</b>
  <%= @ponencia.descripcion %>
</p>
<p>
  <b>Dia y Hora:</b>
  <%= I18n.l @ponencia.dia,      :format => :dia %>
  <%= I18n.l @ponencia.hora_ini, :format => :hora %> - <%= I18n.l @ponencia.hora_fin, :format => :hora %>
</p>
<p>
  <b>Ponente:</b>
  <%= @ponencia.ponente.nombreCompleto %>
</p>
<p>
  <b>Patrocinante:</b>
  <%= @ponencia.patrocinante.nombre unless @ponencia.patrocinante.nil? %>
</p>

<%= link_to "Modificar", edit_ponencia_path(@ponencia) %> |
<%= link_to "Volver a la lista", ponencias_path %>